<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <system>
        <gdwaddcodestore>
            <general>
                <enable>1</enable>
            </general>
        </gdwaddcodestore>
    </system>
</config>