<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="gdwcoremodulelist">
            <group id="gdwaddcodestoreinfo" type="text" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GDW Add Code Store</label>
                <field id="gdwaddcodestoreinfo" type="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>GDW\AddCodeStore\Block\Adminhtml\System\ModuleInfoFull</frontend_model>
                </field>
            </group>
        </section>

        <section id="gdwweb">
            <group id="gdwcoreabout" type="text" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Acerca de</label>
                <frontend_model>GDW\Core\Block\Adminhtml\System\Core\GlobalAds</frontend_model>
            </group>

            <group id="addcodestore" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Add Code Store</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>¿Módulo habilitado?</label>
                    <config_path>gdw/web_addcodestore/enable</config_path>
                        <comment>Agregará el código de la tienda en la tag Body</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="custom_class" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clase Personalizada</label>
                    <config_path>gdw/web_addcodestore/custom_class</config_path>
                    <comment>Será agregada adicionalmente a la tag body en cada vista de tienda</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>